* {
  margin: 0;
  padding: 0;
}

.toast {
  position: fixed;
  top: 3.5rem;
  right: 0;
  transform: translateY(100vh);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 9999;
  cursor: default;
}

.toast.show {
  transform: translateY(0);
  opacity: 1;
}

.toast.hide {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.toast.hide-complete {
  transform: translateY(100vh);
  opacity: 0;
}

aside > div > ul > .active {
  background-color: #cbd5e1;
  border-left: 3px;
  border-color: #60a5fa;
  border-style: solid;
}

header > div > ul > .active {
  text-decoration: underline;
  color: #60a5fa;
}

.section-slider {
  opacity: 0;
  transform: translateX(100px);
  animation: slideInFromRight 1s forwards;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(148, 163, 184, 0.7);
}

.customModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(148, 163, 184, 0.7);
}
